.contain img {
    width: 550px;
    height: 800px;
    margin: 10px;
    border: 6px solid #EFB0C9;
    border-radius: 10%;
    text-align: center;
}

.three-photo {
    display: flex;
    justify-content: center;
}
